In [1]:
import pandas as pd
import numpy as np

## Data Generation:

Generate a synthetic dataset of 5000 customer records containing the following features:

* CustomerID
* Age
* Gender
* ContractType (Month-to-month, One year, Two year)
* MonthlyCharges
* TotalCharges
* TechSupport
* InternetService (DSL, Fiber optic, No)
* Tenure
* PaperlessBilling
* PaymentMethod
* Churn (Yes/No)

1. Introduce realistic distributions, correlations, and outliers to the data.
2. Ensure a target churn rate of approximately 20%.
3. Create derived features like average_monthly_charges, customer_lifetime_value.

In [2]:
np.random.seed(42)
n_records = 5000

In [4]:
customer_ids = np.arange(1, n_records + 1)

ages = np.random.normal(40, 10, n_records).astype(int)
ages = np.clip(ages, 18, 80)

genders = np.random.choice(['Male', 'Female'], n_records)

contract_types = np.random.choice(['Month-to-month', 'One year', 'Two year'], n_records, 
                                  p=[0.6, 0.2, 0.2])

monthly_charges = np.random.normal(70, 30, n_records)
monthly_charges = np.clip(monthly_charges, 20, 150)

tenure = np.random.randint(1, 73, n_records)

total_charges = monthly_charges * tenure
total_charges += np.random.normal(0, 50, n_records)
total_charges = np.clip(total_charges, 20, None) 

tech_support = np.random.choice(['Yes', 'No'], n_records)

internet_service = np.random.choice(['DSL', 'Fiber optic', 'No'], n_records, p=[0.3, 0.5, 0.2])

paperless_billing = np.random.choice(['Yes', 'No'], n_records)

payment_method = np.random.choice(['Credit card', 'Bank transfer', 'Electronic check', 'Mailed check'], 
                                  n_records, p=[0.25, 0.25, 0.25, 0.25])

churn = np.random.choice(['Yes', 'No'], n_records, p=[0.2, 0.8])

average_monthly_charges = total_charges / np.where(tenure > 0, tenure, 1)
customer_lifetime_value = tenure * monthly_charges

In [5]:
df = pd.DataFrame({
    'CustomerID': customer_ids,
    'Age': ages,
    'Gender': genders,
    'ContractType': contract_types,
    'MonthlyCharges': monthly_charges,
    'TotalCharges': total_charges,
    'TechSupport': tech_support,
    'InternetService': internet_service,
    'Tenure': tenure,
    'PaperlessBilling': paperless_billing,
    'PaymentMethod': payment_method,
    'Churn': churn,
    'AverageMonthlyCharges': average_monthly_charges,
    'CustomerLifetimeValue': customer_lifetime_value
})

In [8]:
outlier_indices = np.random.choice(df.index, size=5, replace=False)
df.loc[outlier_indices, 'MonthlyCharges'] *= 5
df.loc[outlier_indices, 'TotalCharges'] *= 5

In [9]:
df.head()

,CustomerID,Age,Gender,ContractType,MonthlyCharges,TotalCharges,TechSupport,InternetService,Tenure,PaperlessBilling,PaymentMethod,Churn,AverageMonthlyCharges,CustomerLifetimeValue
0,1,46,Male,Two year,82.027209,2830.265695,No,Fiber optic,35,Yes,Electronic check,Yes,80.864734,2870.952299
1,2,37,Male,Two year,76.811055,1782.147403,No,DSL,24,No,Bank transfer,Yes,74.256142,1843.465309
2,3,32,Female,Two year,87.253875,3076.542362,Yes,Fiber optic,36,Yes,Bank transfer,No,85.459510,3141.139488
3,4,48,Female,One year,97.906155,5252.119320,No,No,53,Yes,Credit card,Yes,99.096591,5189.026218
4,5,39,Male,Two year,94.229553,2400.922074,Yes,No,26,Yes,Electronic check,Yes,92.343157,2449.968373

In [10]:
df.to_csv('synthetic_customer_data.csv', index=False)