In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

ModuleNotFoundError: No module named 'imblearn'

## Data Preprocessing:
* Handle missing values (if any) using appropriate techniques.
* Encode categorical features into numerical format.
* Split the dataset into training, validation, and testing sets.
* Consider techniques to handle imbalanced data (if necessary).

In [3]:
df = pd.read_csv('synthetic_customer_data.csv')
df.head()

,CustomerID,Age,Gender,ContractType,MonthlyCharges,TotalCharges,TechSupport,InternetService,Tenure,PaperlessBilling,PaymentMethod,Churn,AverageMonthlyCharges,CustomerLifetimeValue
0,1,46,Male,Two year,82.027209,2830.265695,No,Fiber optic,35,Yes,Electronic check,Yes,80.864734,2870.952299
1,2,37,Male,Two year,76.811055,1782.147403,No,DSL,24,No,Bank transfer,Yes,74.256142,1843.465309
2,3,32,Female,Two year,87.253875,3076.542362,Yes,Fiber optic,36,Yes,Bank transfer,No,85.459510,3141.139488
3,4,48,Female,One year,97.906155,5252.119320,No,No,53,Yes,Credit card,Yes,99.096591,5189.026218
4,5,39,Male,Two year,94.229553,2400.922074,Yes,No,26,Yes,Electronic check,Yes,92.343157,2449.968373

In [6]:
missing_values = df.isnull().sum()
print("Missing values per column:")
print(missing_values)

Missing values per column:
CustomerID               0
Age                      0
Gender                   0
ContractType             0
MonthlyCharges           0
TotalCharges             0
TechSupport              0
InternetService          0
Tenure                   0
PaperlessBilling         0
PaymentMethod            0
Churn                    0
AverageMonthlyCharges    0
CustomerLifetimeValue    0
dtype: int64

In [8]:
df_encoded = pd.get_dummies(data, drop_first=True)

In [9]:
X = df_encoded.drop(columns=['Churn_Yes'])
y = df_encoded['Churn_Yes']

In [10]:
X_train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.2, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

In [11]:
smote = SMOTE(random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

NameError: name 'SMOTE' is not defined

In [13]:
print(f"Training set: {X_train_resampled.shape}, {y_train_resampled.shape}")
print(f"Validation set: {X_val.shape}, {y_val.shape}")
print(f"Testing set: {X_test.shape}, {y_test.shape}")

NameError: name 'X_train_resampled' is not defined